@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --cor-fundo: black;
    --cor-principal: #22D4FD;
    --cor-texto-claro: #F6F6F6;
    --cor-texto-secundario: #F3E3E3;
    --cor-rodape-texto: #000000;
    --cor-hover-botao: #272727;
}

* {
    margin: 0;
    padding: 0;
}

h1 {
    color: var(--cor-texto-claro);
    font-size: 2.25rem; /* 36px */
    position: relative;
    top: 0.0625rem; /* 1px */
}

p {
    color: var(--cor-texto-secundario);
}

body {
    box-sizing: border-box;
    background-color: var(--cor-fundo);
    font-family: 'Montserrat', sans-serif;
    color: var(--cor-texto-claro);
    align-content: flex-start;
}

.cabecalho {
    padding: 2% 0 0 15%;
}

.cabecalho__menu {
    display: flex;
    gap: 5rem; /* 80px */
}

.cabecalho__menu__link {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-principal);
    text-decoration: none;
}

.apresentacao {
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apresentacao__conteudo {
    width: 38.4375rem; /* 615px */
    display: flex;
    flex-direction: column;
    column-gap: 2.5rem; /* 40px */
}

.titulo-destaque {
    color: var(--cor-principal);
    position: relative;	
}

.apresentacao__conteudo__texto {
    font-size: 1.5rem; /* 24px */
    font-family: 'Montserrat', sans-serif;
    position: relative;
    top: 0.0625rem; /* 1px */
}

.apresentacao_links_dos_botoes {
    position: relative;
    border: 0.125rem solid var(--cor-principal); /* 2px */
    color: var(--cor-texto-claro);
    width: 17.5rem; /* 280px */
    text-align: center;
    border-radius: 0.5rem; /* 8px */
    font-size: 1.5rem;
    font-weight: 600;
    padding: 1.34375rem 0; /* 21.5px */
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    top: auto;
}

.apresentacao_links_dos_botoes:hover {
    background-color: var(--cor-hover-botao);
}

.apresentacao_links_subtitulo {
    font-family: 'Krona One', sansserif;
    font-weight: 400;
    font-size: 1.5rem; /* 24px */
    position: relative;
    top: 1.0625rem; /* 17px */
    right: 0rem; /* 0px */
}

.apresentacao_links {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 2rem; /* 32px */
    position: relative;
    top: 1.0625rem; /* 17px */
    right: 1.125rem; /* 18px */
}

body header h1 {
    font-family: 'Montserrat', sans-serif;
}

.imagem_github {
    position: absolute;
    top: 0.8125rem; /* 13px */
    left: 1.1875rem; /* 19px */
    right: 0rem; /* 0px */
    bottom: 0rem; /* 0px */
}

.imagem_instagram {
    position: absolute;
    top: 0.6875rem; /* 11px */
    left: 0.9375rem; /* 15px */
}

.imagem_linkedin {
    position: absolute;
    top: 0.5rem; /* 8px */
    left: 0.9375rem; /* 15px */
}

.rodape {
    color: var(--cor-rodape-texto);
    background-color: var(--cor-principal);
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem; /* 24px */
}

.imagem_principal {
    position: relative;
    right: 1rem;
    left: 4rem;
}
